www/*
!www/.gitkeep

logs/mysql/*
!logs/mysql/.gitkeep

logs/nginx/*
!logs/nginx/.gitkeep

logs/rabbit/*
!logs/rabbit/.gitkeep

storage/ch/*
!storage/ch/.gitkeep

storage/mysql/*
!storage/mysql/.gitkeep

storage/rabbit/*
!storage/rabbit/.gitkeep

temp/*
!temp/.gitkeep